.text {
	&-light {
		font-weight: 300;
	}
	&-normal {
		font-weight: 400;
	}
	&-medium {
		font-weight: 500;
	}
	&-bold {
		font-weight: 700;
	}
	&-italic {
		font-style: italic;
	}
	&-color-primary {
		color: $color-primary;
	}
	&-color-accent {
		color: $color-accent;
	}
	&-color-gray {
		color: $color__gray;
	}
	&-color-default {
		color: inherit;
	}
	&-case-up {
		text-transform: uppercase;
	}
	&-case-cap {
		text-transform: capitalize;
	}
	&-case-low {
		text-transform: lowercase;
	}
	&-case-normal {
		text-transform: unset;
	}
	&-case-default {
		text-transform: inherit;
	}
}

