body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	line-height: $font__line-height-body;
	font-size: 17px;
}

@import "headings";
@import "text";
@import "img";
@import "position";
@import "flex";
@import "disply";
@import "checkboxes";
@import "radios";
@import "dropdowns";
@import "inputs";
@import "buttons";
@import "copy";