.button {
  	text-transform: uppercase;
  	display: inline-block;
    appearance: none;
    padding: 10px 30px;
    transition: all 100ms ease-out;

    &.full {
      width: 100%;
      text-align: center;
    }

    &.tiny {
       padding: 2px 7px;
       font-size: 14px;
    }

    &.small {
       padding: 7px 20px; 
       font-size: 14px;
    }

    &.regular {
       padding: 10px 30px; 
    }

    &.large {
       padding: 10px 35px; 
       font-size: 18px;
    }

    &.extra-large {
       padding: 10px 40px; 
       font-size: 20px;
    }

    &:hover {
       transition: all 150ms ease-out; 
    }

	&.primary {
		background: $color-primary;
		color: #fff;    	

    	&:hover {
    		background: #fff;
    		color: $color-primary;    		
    	}
	}

  &.white {
      background: #fff;
      color: #000;
      border: 1px solid #000;

      &:hover {
          background: $color-primary;
          color: #fff;
          border-color: $color-primary;
      }
  }

  &.glass {
      background: transparent;
      color: #000;
      border: 1px solid #000;

      &:hover {
          background: transparentize($color-primary, .8);
          color: #fff;
          border-color: $color-primary;
      }
  }

  &.green {
    background: $color__green;
    color: #fff;
  }

  &.green-light {
    background: $color__green_light;
    color: #fff;
  }

  &.gray {
    background: #e2e2e2;
    color: #3c3c3c;

    &:hover {
          background: $color-primary;
          color: #fff;
          border-color: $color-primary;
      }
  }
}