$color-radio__checked: $color-primary;

input[type=radio] {
    visibility: hidden;
    display: none;    
    
    &:checked + label:before {
    	color: $color-radio__checked;    	
    	box-shadow: 0 0 0 2px $color-radio__checked;
    }   
} 

.radio-label {	
    position: relative;
    cursor: pointer;
    padding-left: 29px;

    &:hover:before{
		box-shadow: 0 0 0 2px $color-radio__checked;
		transition: all 100ms ease-in;
    }

	&:before {
		content: '\f111';
		color: #fff;
		font-family: Fontawesome;
		font-size: 9px;
		color: #fff;
		width: 14px;
		height: 14px;
		box-shadow: 0 0 0 2px #000;
		padding: 2px 3px;
		background: #fff;
		opacity: 1;
		position: absolute;
		line-height: 1;
		left: 0;
		top: 3px;
		opacity: 1;
		border-radius: 50%;
		transition: all 100ms ease-out;
    }	
} 